<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <!--===============================================================================================-->

</head>
<body>

<div class="limiter">
  <div class="container-login100" [style.background]="'url(/assets/images/bg-01.jpg)'">
    <div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Registration
				</span>
      <form class="login100-form validate-form p-b-33 p-t-5" (ngSubmit)="register()">
        <small class="input100">{{msg}}</small>
        <label for="userName"></label>
        <div class="wrap-input100 validate-input" data-validate="Enter username">
          <input class="input100" id="userName" type="text" name="username" placeholder="User name"
                 [(ngModel)]="newUser.username"
                 required #userName="ngModel" [class.is-invalid]="userName.invalid && userName.touched"
          >
          <small class="input100" style="color:red" [class.d-none]="userName.valid || userName.untouched">user name is
            required</small>
          <span class="focus-input100" data-placeholder="&#xe82a;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100" type="password" name="pass" placeholder="Password" [(ngModel)]="newUser.password"
                 required #pwd="ngModel"
                 [class.is-invalid]="pwd.invalid && pwd.touched"
          >
          <small class="input100" style="color:red" [class.d-none]="pwd.valid || pwd.untouched">password is
            required</small>
          <span class="focus-input100" data-placeholder="&#xe80f;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100" type="password" name="pass" placeholder="Confirm Password" [(ngModel)]="confirmPass"
                 required #pwd2="ngModel"
                 [class.is-invalid]="pwd2.invalid && pwd2.touched"
          >
          <small class="input100" style="color:red" [class.d-none]="pwd2.valid || pwd2.untouched">this field is
            required</small>
          <span class="focus-input100" data-placeholder="&#xe80f;"></span>
        </div>

        <div class="container-login100-form-btn m-t-32">
          <button class="login100-form-btn" [disabled]="newUser.password!=confirmPass||newUser.username==null||newUser.password==null
           ||confirmPass==null">
            Register
          </button>
          <small class="input100" style="color:red" *ngIf="newUser.password!=confirmPass||newUser.username==null||newUser.password==null
           ||confirmPass==null"
          >All fields are required and passwords must match</small>
        </div>
        <div class="container-login100-form-btn m-t-32">
          <button class="login100-form-btn"(click)="routeToLogin()">
            have an account ?
          </button>
        </div>
      </form>

    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/vendor/bootstrap/js/popper.js"></script>

<!--===============================================================================================-->
<script src="/assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/vendor/daterangepicker/moment.min.js"></script>
<script src="/assets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/assets/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/main.js"></script>

</body>
</html>
